body{
    background-image: url(c.jpg);
    background-position: auto;
    color: aliceblue;
    font-family: 'Arsenal', sans-serif;
}

div#logout{
    margin: 0px 950px;
}

table#t1 {
    margin:auto;
    width: 90%;
    height: 20%;
}

pre#total{
    margin: auto;
}