body{
    background-image: url(c.jpg);
    color: aliceblue;
    font-family: 'Arsenal', sans-serif;
}

div#logout{
    margin: 0px 950px;
}

button#bt{
    margin: auto;
}

table#t1{
    margin:auto;
    width: 90%;
    height: 20%;
}

div#busca{
    width: 50%;
}





